body{
    background: ivory;
    color: rgb(69, 2, 2);
    font-family:arial, helvetica, sans-serif;
}
nav{
    text-align:center;
}
/* buttons */
nav a{
    text-decoration:none; /*gets rid of underline*/
    margin-left:50px; /* spacing the words */
    background:rgb(69,2,2);
    color:ivory;
    padding: 10px 20px;
    border-radius:20px;
    border: 2px solid rgb(69,2,2);
}

nav a:hover{
    color:rgb(69,2,2);
    background:ivory;
}

li a{
    line-height:2;
    color: #b93c3c;
    font-size: large;
    font-weight: bold;
    text-decoration:none;
}

li a:hover{
    text-decoration: underline;
}